.logo img {
  height: 100px;
}

.menu {
  font-size: 17px !important;
  font-weight: 600;
  text-transform: uppercase; /* deixa o texto em letra maiúscula */
  padding: 0 20px !important; /* faz com que a minha personalização sobreponha a pré definida pelo componente bootstrap. top, right, bottom, left */
  border-left: 1px solid #666 !important;
}

.menu:first-child {
  border-left: none !important;
}

.menu a {
  color: #666;
  text-decoration: none;
}

.menu a:hover {
  opacity: .7;
}

#img-carrossel {
  height: 600px;
}